body{
    background: linear-gradient(to botttom,rgba(206, 208, 187, 0.749), gray);
}
.homebackground{
  padding:10px;

}
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.search-form {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
  max-width: 30%;
  margin-top: 80px;
  margin-left:70px;
}

.search-form input {
  flex: 1;
  padding: 8px;
}

.search-form button {
  padding: 8px 16px;
}

.bgbook {
  flex: 1;
  max-width: 50%;
  text-align: right;
}

.bgbook img {
  max-width: 100%;
  height: auto;
}
.header-div {
  background-color: rgb(196, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-link {
  display: inline-block;
}

.navbar {
  display: flex;
  gap: 15px;
}
.search-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
  justify-content:space-between;
}
.searchtitle{
  text-align: center;
}

.card {
  width: 300px;
  height: 290px;
  margin-top:20px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  transition: all 0.4s ease;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  color: white;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
  background:black
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.card:hover .first-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.second-content {
  height: 0;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all 0.4s ease;
  transform: rotateX(90deg);
  font-size: 1rem;
}

.card:hover .second-content {
  height: 100%;
  opacity: 1;
  transform: rotateX(0deg);
}

.second-content h3,
.second-content p {
  margin: 5px 0;
  text-align: center;
}
.bookmarkBtn {
  width: 80%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  margin-left:20px;
}

.IconContainer {
  width: 100px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
  width: 70%;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

