<%- include("partials/header.ejs") %>
<div class="homebackground">
<div class="home-container">
  <form class="search-form" action="/search" method="POST" role="search">
    <input
    class="form-control"
    type="text"
      name="book"
      id="book"
      placeholder="Search"
      aria-label="Search"
      />
      <button class="sum-btn" type="submit">Search</button>
    </form>
    <div class="bgbook">
      <img src="./images/bookbg.jpg" alt="background book"/>
  </div>
</div>
    </div>